{% extends 'base2.html' %}
{% block title %}Register{% endblock %}
{% load static %}
{% block content %}
<body style="background-image: url('{% static "images/backgrnd.jpg" %}');">
<link rel="stylesheet" href="{% static 'css/reg2.css' %}">
<div class="contain">
<div  class="register"style="background-color:#0D0421 ;">
<h1>Register here!!</h1>   
<form action="" method="post" id="regis">
    {% csrf_token %} 
    <br>
    {{ form.as_p }}<br>
<input type="submit" value="Register" class="btn"><br><br>
</form>
</div>
</div>
</body>
{% endblock content %}