{% extends 'base2.html' %}
{% block title %} Add Blog Post{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/formki.css' %}">

{% if user.is_authenticated %}
  <br>
  <br>
  <h1>Add Post</h1>   
  <form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %} 
  <br>
  {{ form.media }}
  {{ form.as_p }}<br>
  <button class="btn">Post</button><br><br><br>
  </form>
  

  <script>
      var name = "{{ user.id }}";
      document.getElementById("elder").value= name;
  </script>
{% else %}
  <h2>You are not allowed to add any post !!!!!</h2>
  <br><br>
  <h2>Stay away from it</h2>
  <br>
{% endif %}

{% endblock content %} 
