{% extends 'base2.html' %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<br>
<br>
<h1 style="font-weight: bold;">{{ post.title }} </h1>
<small>By: 
    {{ post.author.first_name }}
    {{ post.author.last_name }}
    <!-- {{ post.author.username }} -->
    &nbsp;&nbsp;&nbsp; 
    {{ post.date_posted }}

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <div class="bt2" style="cursor: pointer; display: inline;">
          -&nbsp;&nbsp; <a href="{% url 'update_post' post.pk %}" style=" color:rgb(8, 114, 105); font-weight: 800;   text-decoration: none;" onMouseOver="this.style.color='rgb(179, 12, 12)'"   onMouseOut="this.style.color='rgb(8, 114, 105)'">Edit</a>&nbsp;
          <a href="{% url 'delete_post' post.pk %}" style=" color:rgb(8, 114, 105); font-weight: 800;   text-decoration: none;"  onMouseOver="this.style.color='rgb(179, 12, 12)'"   onMouseOut="this.style.color='rgb(8, 114, 105)'">Delete</a><br><div>
        {% endif %}
    {% endif %}
</small>
<br>
<hr>
<br>
<!-- {% if post.header_image %}
<img src="{{ post.header_image.url }}"><br><br>
{% endif %} -->
<p style="align-content:justify;">
{{ post.content|safe}}
</p>
<br><br>

<div class="button1" style="font-weight: 500; background-color: rgb(63, 2, 58); cursor: pointer; border-radius:4px; font-size: 14px;
padding: 4px; width:60px; height:30px; text-align: center; box-shadow: 1px 1px 5px rgba(0,0,0,0.3);">
  <a style="color: white; text-decoration: none;"  onMouseOver="this.style.color='yellow'"   onMouseOut="this.style.color='white'"  
 href="{% url 'blog-home' %}">Back</a>


</div>
<br><br>
<hr>
<br>



<div class="card mb-3" style="border:1px solid rgb(10, 98, 114); ">
    <div class="row g-0">
      <div class="col-md-2">
{% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" height=144 width=180>
{% else %}
      <img src="{% static 'images/default_profile2.jpg' %}"  class="card-img" height=144 width=150 >
{% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title"> 
            
            {{ post.author.first_name }}
            {{ post.author.last_name }}
          </h5>
         
          <p class="small text-muted">


          <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a> | 

              {% if post.author.profile.facebook_url %}
                   | <a href="{{ post.author.profile.facebook_url }}">Facebook</a> |
              {% endif %} 

              {% if post.author.profile.twitter_url %}
                   | <a href="{{ post.author.profile.twitter_url }}">Twitter</a> |
              {% endif %}

              {% if post.author.profile.Instagram_url %}
                   | <a href="{{ post.author.profile.Instagram_url}}">Instagram</a> 
              {% endif %}

              {% if post.author.profile.linkedin_url %}
                   | <a href="{{ post.author.profile.linkedin_url}}">LinkedIn</a> 
              {% endif %}
                
          </p>
          
          <p class="card-text">
            {{ post.author.profile.bio }}</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> 
        </div>
      </div>
    </div>
  </div>
<br>
<br>
{% endblock %}