{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>
 {% block title %}

 {% endblock %}
  </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <title>Blog</title>
    <link rel ="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    {% csrf_token %}
    <header>
        <div class="page-header">
            <div class="logo">
              <p>Codeblog</p>
            </div>
            <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
              <i class="fa fa-bars"></i>
            </a>
      
            <div id="navigation-bar" class="nav-bar">
              {% if user.is_authenticated %}
              <a  href="{% url 'blog-home' %}" class="active">Home</a>
              <a href="{% url 'add-blog' %}">Add Blog</a>
              
              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Settings</a>
                  <a class="dropdown-item" href=" {% url 'edit_profile_page' user.profile.id %} ">Edit Profile Page</a>
                  <a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Show Profile Page</a>
                </div> 
              </li>
  {% endcomment %}


              
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Setting</a>


                  {% if user.profile.id %}
                   <a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a>
  
                   <class="dropdown-divider">
                    <li><a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Show Profile Page</a>




                  {% else %}
              
                  <li><a class="dropdown-item" href="#">Create Profile Page</a></li> 

                  {% endif %}    
                  
                  {% comment %} <class="dropdown-divider">
                    <li><a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Show Profile Page</a> {% endcomment %}



                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
              </ul>

              
              <a href="{% url 'password' %}">Change Password</a>
              <a href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a href="{% url 'register' %}">Register</a>
              <a href="{% url 'login' %}">Login</a>
              {% endif %}
            
            </div>
          </ul>
        </li>
            <!-- <div class="header-right"><button>Sign in</button></div> -->
          </div>
 </header>
 
<div class="container">
  {% block content %}

  {% endblock %}
</div>
<!--  
    <div class="blog_section">
    <div class ="box">
        <h2>Programming Blog</h2>
        <div class="box1_img"style="background-image: url('{% static "images/program.jpg" %}');"></div>
       <p align="justify">FreeCodeCamp is a non-profit organization which was founded by Quincy Larson in 2014 and it is one of the best free programming platforms for learning coding and web development. </p>
     <button type="button">View More</button>
    </div>

    <div class ="box">
        <h2>Food Blog</h2>
        <div class="box2_img"style="background-image: url('{% static "images/food.jpg" %}');"></div>
       <p align="justify"> Variety of recipes and cooking-related articles with a focus on thoughtful and stylish living. Many recipes have flavorful twists, and the site offers unique kitchenware for sale.</p>
     <button type="button">View More</button> 
    </div>

    <div class ="box">
        <h2>Travelling Blog</h2>
        <div class="box3_img "style="background-image: url('{% static "images/travel.jpg" %}');"></div>
       <p align="justify">A brilliant, brilliant photographer and solo traveller, 
         Neelima Vallangi is a true inspiration to budding travellers and explorers. If you’re having a bad day, just go to her Instagram profile and scroll through her 
         feed for some refreshing pictures of heavenly landscapes. Neelima is a trekker, adventurer, and you will mostly find her in the mighty Himalayas.</p>
     <button type="button">View More</button>
        </div>
</div> -->

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Codeblog is an initiative  to help the upcoming programmers to identify different resources for learning. Codeblog focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, and Algorithm.</p>
        </div>
  
        
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="{% url 'index' %}">Contact Us</a></li>
          </ul>
        </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Codeblog</a>.
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <!-- <script src="home.js"></script> -->

</body>
</html>

